<div class="booyah-box factsPage">

  <h1>
    Facts 
    <%= link_to 'Add a Fact!', new_fact_path, class: 'btn btn-success' %>
  </h1>

  <% @facts.each do |fact| %>
    <div class="booyah-box fact">
      <p class="message"><%= fact.message %></p>
      <p>
        <%= fact.likes.count %> <%= (fact.likes.count) == 1 ? 'HOLY COW!' : 'HOLY COWS!' %>
         - 
        <%= fact.dislikes.count %> <%= (fact.dislikes.count) == 1 ? 'COWPIE' : 'COWPIES' %>
      </p>
      <%= button_to 'HOLY COW!', fact_likes_path(fact), method: :post %> <%= button_to 'COWPIE!', fact_dislikes_path(fact), method: :post %>
    </div>
  <% end %>

</div>